/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2016, 3:54:35 PM
    Author     : MINH
*/


body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:13px;
    line-height: 19px;
    background:#ada9a9  ;
}

.container{
    width: 70%;
    margin: auto;
    background-color: #fff;
    overflow-x: hidden;

}

.head{

}

ul.menu{
    margin: 0;
    padding: 0;
    background-color:#323031;
    color: #fff;
    height: 45px;

    border-bottom: #000 1px solid;
    border-top: 3px solid #dacb46;
}
ul.menu li{
    float: left;
    list-style-type: none;
    background-color:#323031;
    padding: 10px 15px;
    border-right: #000 1px solid;
    display: block;
}
ul.menu li:hover{
    background-color: #000;
}



.menu a{
    text-decoration: none;
    color: #fff;
    float:left;

}
.menu a:active{
    cursor: pointer;
}


.bottom{
    float: left;
    width: 100%;
    background: #111 url('../img/micro_carbon.png');
    color: #fff;
    padding: 50px 37%;
    border-top: 3px solid #dacb46;
}
.bottom .text{
    display: block;

}