/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2016, 4:34:02 PM
    Author     : MINH
*/

.content{
    padding:20px 0px 20px 20px; 
    display: block;
    float: left;
    width: 98%;
}
.box_member{
    border: graytext 1px solid;
    padding: 5px;
    float: left;
    width: 31%;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    overflow: hidden;
}
.box_member img{
    float: left;
    border-radius: 10px;
    margin-right: 5px;
}
.content fieldset{
    width: 95%;
    margin-bottom: 20px;
    border: grey solid 1px;
    border-radius:10px;
    padding: 10px 10px;
}
.content input{
    border-radius:5px;
    border: solid #000 1px;
    border-bottom: solid #000 2px; 
    height: 32px;
    float: right;
    padding: 3px 10px;
    margin-right: 10px;
}
.content input:hover{
    border-radius: 5px;
}
.content .submit{
    height: 30px;
    padding: 5px 10px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    background-color: #58A942;
}
.content .submit:hover{
    background: #519839;
}
